extends ../layout

block content 
    a(href='/productos') Volver 

    br
    br
    br

    h1 Actualizar Producto 

    br
    br

    form(action='/productos/actualizar/'+product.id method='post')
        label(for='id') Id: 
        input#id(type='text' name='id' value=product.id disabled)
        br
        label(for='nombre') Nombre: 
        input#id(type='text' name='nombre' value=product.nombre)
        br
        label(for='precio') Precio: 
        input#id(type='text' name='precio' value=product.precio)
        br
        label(for='localId') LocalId: 
        input#id(type='text' name='localId' value=product.localId)
        br
        label(for='cantidad') Cantidad: 
        input#id(type='text' name='cantidad' value=product.cantidad)
        br        
        br
        input.btn(type='submit' value='OK')